body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#0f172a;
  font-family:system-ui;
}

.login-box{
  background:#fff;
  padding:20px;
  width:300px;
  border-radius:10px;
}

.login-box input{
  width:100%;
  padding:10px;
  margin:8px 0;
}

.login-box button{
  width:100%;
  padding:10px;
  background:#0f172a;
  color:#fff;
  border:none;
}
