body{
  font-family:Tahoma;
  background:#0d6efd;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}
.login-box{
  background:#fff;
  padding:30px;
  width:300px;
  border-radius:10px;
}
.login-box input,button{
  width:100%;
  margin:8px 0;
  padding:10px;
}
